:root {
  --absolute-theme: #fff;
  --absolute-inverse: #000;

  --background: #ddd;
  --midtone-back: #BFBFBF;
  --midtone-fore: #808080;
  --foreground: #404040;

  --input: #eee;
  --inputButton: #404040;
}

@media (prefers-color-scheme: dark) {
  :root {
    --absolute-theme: #000;
    --absolute-inverse: #fff;

    --background: #404040;
    --midtone-back: #80808080;
    --midtone-fore: #BFBFBF;
    --foreground: #ddd;

    --input: #222;
  }
}

html,
body {
  font-family: var(--font-Inter);
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}