.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-Inter);
}

@media (prefers-color-scheme: dark) {

  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }

  .logo {
    filter: invert();
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  align-items: center;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}


@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

/* Input básico e maior */
.input{ 
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--font-Inter);
  width: 75%;
  min-width: 25svh;
  max-width: 24rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 2rem;
  border: none;
  background-color: var(--input);
  color: var(--defaultText);
  box-shadow: 5px 5px 10px #0002 inset;
  outline: none;
}

.input::placeholder {
  color: var(--defaultText);
  opacity: 30%;
  font-weight: normal;
}

.input:focus::placeholder {
  color: transparent;
}

/* Input menor e mais simples */

.input2{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--font-Inter);
  width: 65%;
  min-width: 25svh;
  max-width: 24rem;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 2rem;
  border: none;
  background-color: var(--input);
  color: var(--defaultText);
  box-shadow: 5px 5px 10px #0002 inset;
  outline: none;
}

.input2::placeholder {
  color: var(--defaultText);
  opacity: 30%;
  font-weight: normal;
}

.input2:focus::placeholder {
  color: transparent;
}

.Date{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--font-Inter);
  width: 15rem;
  padding: 0.7rem;
  margin: 1rem;
  border-radius: 2rem;
  border: none;
  background-color: var(--input);
  color: var(--defaultText);
  box-shadow: 5px 5px 10px #0002 inset;
  outline-color: var(--foreground);
}

.Date::placeholder {
  color: var(--defaultText);
  opacity: 30%;
  font-weight: normal;
}

.Date:focus::placeholder {
  color: transparent;
}

.SearchBar{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--font-Inter);
  width: 75%;
  min-width: 25svh;
  max-width: 24rem;
  padding: 0.7rem;
  margin: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--background);
  color: var(--defaultText);
  box-shadow: 0px 0px 10px #0008 inset;
  outline: none;
}

.SearchBar::placeholder {
  color: var(--defaultText);
  opacity: 30%;
  font-weight: normal;
}

.SearchBar:focus::placeholder {
  color: transparent;
}

.inputButton{
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: var(--font-Inter);
  width: 35%;
  min-width: 25svh;
  padding: 1rem;
  margin: 1rem;
  border-radius: 2rem;
  border: none;
  box-shadow: 5px 5px 10px #0005;
  background-color: var(--foreground);
  color: var(--background);
}

.inputButton:hover{
  opacity: 80%;
  cursor:pointer;
}

.inputButton2{
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: var(--font-Inter);
  width: 25%;
  min-width: 21svh;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 2rem;
  border: none;
  box-shadow: 5px 5px 10px #0005;
  background-color: var(--foreground);
  color: var(--background);
}

.inputButton2:hover{
  opacity: 80%;
  cursor:pointer;
}



.container {
  background-color: var(--midtone-back);
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 1.3rem;
  display: block;
  align-items: center;
  justify-items: center;
  box-shadow: 5px 5px 10px #0005;
}

.containerScroll {
  background-color: var(--background);
  text-align: center;
  padding: rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-items: center;
  box-shadow: 0px 0px 13px #0008 inset;
  min-width: 60svh;
  height: 25svh;
}

@media (max-aspect-ratio: 1/1) {
  .containerScroll{
    min-width: 20svh;
    height: 60svh;
  }
}

.scrollbarBox {
  margin: 10px;
  overflow-y: auto;
  height: 94%;
  width: 100%;
}

.defaultTextSize {
  font-size: 1.5rem;
} /* Usei para definir o tamanho padrão para um texto comum dentro de um container sem alterar o tamanho das fontes de h1 */

.errorText{
  color: var(--errorText);
  font-weight: bold;
}

.boxshadow {
  box-shadow: 10px 10px 10px #0002;
}




.TextBox {
  max-width: 40rem;
  margin: 2rem 2rem 0rem 2rem;
  font-size: 1.5rem;
  text-align: center;
}

.ElementsBox {
  text-align: center;
  margin: 1rem 1rem;
}

.footerButton {
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--foreground);
  text-decoration: underline;
}

.footerButton:hover {
  opacity: 60%;
  cursor: pointer;
}


/*Botões*/

.ClickableElementList {
  background-color: var(--midtone-back);
  color: var(--defaultText);
  font-size: 0.9rem;
  text-align: left;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  gap: 0rem;
  margin: 1rem;
  display: relative;
  box-shadow: 5px 5px 10px #0005;
  width: calc(100% - 2rem);
  border: none;
}

.Left {
  text-align: left;
}

.Right {
  text-align: right;
}

.ClickableElementList:hover {
  opacity: 80%;
  cursor: pointer;
}

.ExitButton {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--font-Inter);
  padding: 0.4rem 1.4rem;
  margin: 2rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  box-shadow: 5px 5px 10px #0005;
  background-color: var(--foreground);
  color: var(--background);
}

.ExitButton:hover {
  opacity: 60%;
  cursor: pointer;
}

.RemoveButton {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--font-Inter);
  padding: 0.4rem 1.4rem;
  margin: 2rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  box-shadow: 5px 5px 10px #0005;
  background-color: rgb(150, 61, 61);
  color: #fff;
}

.RemoveButton:hover {
  opacity: 80%;
  cursor: pointer;
}

/*Botoes de Checkin e Checkout*/
.CheckButton{
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: var(--font-Inter);
  width: 40%;
  padding: 1rem;
  margin: 2rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  box-shadow: 5px 5px 10px #0005;
  color: #383838;
}

.CheckButton:hover{
  opacity: 70%;
  cursor:pointer;
}

.CheckButton2{
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: var(--font-Inter);
  width: 60%;
  padding: 1rem;
  margin: 2rem 1rem 0.5rem 1rem;
  background-color: var(--inputButton);
  border-radius: 1rem;
  border: none;
  box-shadow: 5px 5px 10px #0005;
  color: #383838;
}

.CheckButton2:hover{
  opacity: 70%;
  cursor:pointer;.page {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  
    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
  
    display: grid;
    grid-template-rows: 20px 1fr 20px;
    align-items: center;
    justify-items: center;
    min-height: 100svh;
    padding: 80px;
    gap: 64px;
    font-family: var(--font-Inter);
  }
  
  @media (prefers-color-scheme: dark) {
    .page {
      --gray-rgb: 255, 255, 255;
      --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
      --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
  
      --button-primary-hover: #ccc;
      --button-secondary-hover: #1a1a1a;
    }
  
    .logo {
      filter: invert();
    }
  }
  
  .main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    grid-row-start: 2;
    align-items: center;
  }
  
  .container {
    background-color: var(--midtone-back);
    text-align: center;
    padding: 3rem 2rem;
    border-radius: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px #0005;
    gap: 1.5rem;
  }
  
  .loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
  }
  
  .input {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: var(--font-Inter);
    width: 75%;
    min-width: 25svh;
    max-width: 24rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--input);
    color: var(--defaultText);
    box-shadow: 5px 5px 10px #0002 inset;
    outline: none;
  }
  
  .input::placeholder {
    color: var(--defaultText);
    opacity: 30%;
    font-weight: normal;
  }
  
  .input:focus::placeholder {
    color: transparent;
  }
  
  .inputButton {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: var(--font-Inter);
    width: 35%;
    min-width: 25svh;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
    border: none;
    box-shadow: 5px 5px 10px #0005;
    background-color: var(--foreground);
    color: var(--background);
  }
  
  .inputButton:hover {
    opacity: 80%;
    cursor: pointer;
  }
  
  .footerButton {
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--foreground);
    text-decoration: underline;
  }
  
  .footerButton:hover {
    opacity: 60%;
    cursor: pointer;
  }
  
  .errorText {
    color: var(--errorText);
    font-weight: bold;
    text-align: center;
  }
  
  .errorText.hidden {
    display: none;
  }
  
  .footer {
    grid-row-start: 3;
    display: flex;
    gap: 24px;
  }
  
  .logo {
    margin-bottom: 15px;
  }
  
  @media (max-width: 600px) {
    .page {
      padding: 32px;
      padding-bottom: 80px;
    }
  
    .main {
      align-items: center;
    }
  
    .container {
      padding: 2rem 1.5rem;
    }
  
    .loginForm {
      gap: 1rem;
    }
  
    .input {
      width: 90%;
      font-size: 1.2rem;
    }
  
    .inputButton {
      width: 60%;
      font-size: 1rem;
    }
  
    .footer {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
  
}

#Checkin {
  background-color: #9d9;
}

#Intervalo {
  background-color: rgb(221, 217, 153);
}

#Checkout {
  background-color: rgb(221, 153, 153);
}

@media (prefers-color-scheme: dark) {
  #Checkin {
    background-color: #7b7;
  }

  #Intervalo {
    background-color: rgb(187, 186, 119);
  }

  #Checkout {
    background-color: rgb(187, 119, 119);
  }
}

.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-Inter);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }

  .logo {
    filter: invert();
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  align-items: center;
}

.container {
  background-color: var(--midtone-back);
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px #0005;
  gap: 1.5rem;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
}

.input {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--font-Inter);
  width: 75%;
  min-width: 25svh;
  max-width: 24rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 2rem;
  border: none;
  background-color: var(--input);
  color: var(--defaultText);
  box-shadow: 5px 5px 10px #0002 inset;
  outline: none;
}

.input::placeholder {
  color: var(--defaultText);
  opacity: 30%;
  font-weight: normal;
}

.input:focus::placeholder {
  color: transparent;
}

.inputButton {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: var(--font-Inter);
  width: 35%;
  min-width: 25svh;
  padding: 1rem;
  margin: 1rem;
  border-radius: 2rem;
  border: none;
  box-shadow: 5px 5px 10px #0005;
  background-color: var(--foreground);
  color: var(--background);
}

.inputButton:hover {
  opacity: 80%;
  cursor: pointer;
}

.footerButton {
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--foreground);
  text-decoration: underline;
}

.footerButton:hover {
  opacity: 60%;
  cursor: pointer;
}

.errorText {
  color: var(--errorText);
  font-weight: bold;
  text-align: center;
}

.errorText.hidden {
  display: none;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.logo {
  margin-bottom: 15px;
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .container {
    padding: 2rem 1.5rem;
  }

  .loginForm {
    gap: 1rem;
  }

  .input {
    width: 90%;
    font-size: 1.2rem;
  }

  .inputButton {
    width: 60%;
    font-size: 1rem;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.container {
  background-color: var(--midtone-back);
  text-align: center;
  padding: 3rem 2rem;
  border-radius: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px #0005;
  gap: 1.5rem;
}

.loginForm {
  display: flex;
  flex-direction: column; /* Alinha os elementos verticalmente */
  align-items: center; /* Centraliza os campos horizontalmente */
  gap: 1.5rem; /* Espaçamento uniforme entre os campos */
  width: 100%;
}

.input2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--font-Inter);
  width: 75%;
  max-width: 24rem;
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  background-color: var(--input);
  color: var(--defaultText);
  box-shadow: 5px 5px 10px #0002 inset;
  outline: none;
}

.inputButton2 {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: var(--font-Inter);
  width: 35%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 2rem;
  border: none;
  box-shadow: 5px 5px 10px #0005;
  background-color: var(--foreground);
  color: var(--background);
}

.inputButton2:hover {
  opacity: 80%;
  cursor: pointer;
}

.errorText {
  color: var(--errorText);
  font-weight: bold;
  text-align: center;
}

.ExitButton {
  font-size: 1rem;
  padding: 0.8rem 2rem;
  margin: 2rem 1rem 0.5rem 1rem;
  border-radius: 2rem;
  border: none;
  box-shadow: 5px 5px 10px #0005;
  background-color: var(--foreground);
  color: var(--background);
}

.ExitButton:hover {
  opacity: 60%;
  cursor: pointer;
}
